*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
}

main h1
{
    color: darkgoldenrod;
    font-size: 6rem;
    border: 1px outset black;
    padding: 15px;
}